<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>{% block title %}Document{% endblock title%}</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Manisha Mewada</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-item nav-link active" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link services" id="services" href="{% url 'services'%}">Services</a>
                <a class="nav-item nav-link aboutus" id="aboutus" href="{%url 'aboutus'%}">Aboutus</a>
                <a class="nav-item nav-link contact" id="contact" href="{% url 'contact'%}">Contact</a>
            </div>
        </div>

        
    </nav>
    {% block main-content %}
    {% endblock main-content%}
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/popper.js'%}"></script>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/all.js'%}"></script>
    <script>
    var currentpage = window.location.href;
    // check which page is currently active and set the corresponding link as active
    if(currentpage.includes("services")){
    document.getElementById("services").classList.add("active");
    }else if(currentpage.includes("aboutus")){
    document.getElementById("aboutus").classList.add("active")
        }
    else if(currentpage.includes("contact")){
        document.getElementById("contact").classList.add("active")
    }
    else{
    document.getElementById("home").classList.add("active");
    }
    </script>

</body>
</html>